@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
    *@





<!-- mmmmmmmm pancitaaaaaaa -->

<div class="col-lg-7 col ">
    <div class=" shadow datos-casa  rounded p-2 ">
        <h5 class="ms-2">Datos de la propiedad</h5>
        <div class="position-relative">
            <div>Hola </div>
         
            @{
                var classAbrev = "";
                switch (@Model.Abrev)
                {
                    case "Depto":
                        classAbrev = "title-cards-mp-depto";
                        break;
                    case "Bodega":
                        classAbrev = "title-cards-mp-depto";
                        break;
                    case "Casa":
                        classAbrev = "title-cards-mp-casa";
                        break;
                    case "Edif":
                        classAbrev = "title-cards-mp-edificio";
                        break;
                    case "Huerta":
                        classAbrev = "title-cards-mp-depto";
                        break;
                    case "Local":
                        classAbrev = "title-cards-mp-local";
                        break;
                    case "Nave":
                        classAbrev = "title-cards-mp-nave";
                        break;
                    case "Ofic":
                        classAbrev = "title-cards-mp-oficina";
                        break;
                    case "Quinta":
                        classAbrev = "title-cards-mp-depto";
                        break;
                    case "Rancho":
                        classAbrev = "title-cards-mp-depto";
                        break;
                    case "Terreno":
                        classAbrev = "title-cards-mp-terreno";
                        break;
                    case "Villa":
                        classAbrev = "title-cards-mp-depto";
                        break;
                    case "Hosp.":
                        classAbrev = "title-cards-mp-depto";
                        break;
                    case "Esc.":
                        classAbrev = "title-cards-mp-depto";
                        break;
                    default:
                        classAbrev = "title-cards-mp-depto";
                        break;
                }
            }
            <div class="shadow d-flex  t-de-inmueble-casa  @classAbrev">

                <h6 class=" mx-auto my-auto ">@Model.Abrev</h6>
            </div>
        </div>
        <div class="d-inline-flex mb-3 mt-1 pt-4">
            <label class="ms-2 text-black me-2">Título</label> <input type="text" class="w-titulo" disabled name="" id="" value="@Model.Titulo">
        </div>
        <br>
        <div class="d-inline-flex mt-2">
            <label class="ms-2 me-2 text-black">Precio</label> <input type="text" disabled name="" id="" value="@Model.Precio @Model.ISO">
        </div>
        <div class="seccion-construccion mt-3">
            <h6 class="ms-2">Construcción</h6>
            <div class="d-flex justify-content-center responsiveExtraSmall">
                <div class="d-block me-4">
                    <h6 class="label-orange text-center">Terreno</h6>
                    <h6 class="text-center"><i class="fa-solid fa-maximize color_orange me-1"></i> @Model.Superficie @Model.UM </h6>
                </div>
              
                    <div class="d-block ">
                        <h6 class="label-orange text-center">Construcción</h6>
                        <h6 class="text-center"><i class="fa-solid fa-maximize color_orange me-1"></i>@Model.SuperficieC @Model.UMC</h6>
                    </div>
                

            </div>

            <h6 class="ms-2 mt-3">Características principales</h6>

            <div class="d-flex justify-content-center mt-1 size-mp-name-main-house ">
                @{
                    @foreach (var propiedadesCaract in Model.ListaCaracteristicasD)
                    {
                        if (propiedadesCaract.Caracteristicas == "Baños")
                        {

                            <div class="side-2-header d-inline-flex me-2">
                                <i class="fa-solid fa-toilet me-1 mt-1 text-orange size-mp-icons"></i>
                                <h6 for="" class=" me-1 size-mp-name-icons">  @propiedadesCaract.NoElementos Baños</h6>
                            </div>
                        }

                        if (propiedadesCaract.Caracteristicas == "Estacionamientos")
                        {
                            <div class="side-2-header d-inline-flex me-1">
                                <i class="fa-solid fa-car-side ms-1 mt-1 me-1 text-orange size-mp-icons"></i>
                                <h6 for="" class="ms-1 me-1 size-mp-name-icons">  @propiedadesCaract.NoElementos Estacionamientos</h6>
                            </div>
                        }

                        if (propiedadesCaract.Caracteristicas == "Recamaras")
                        {
                            <div class="side-2-header d-inline-flex">
                                <i class="fa-solid fa-bed ms-1 mt-1 me-1 text-orange size-mp-icons"></i>
                                <h6 for="" class="ms-1 me-1 size-mp-name-icons">  @propiedadesCaract.NoElementos Recamaras  </h6>
                            </div>
                        }

                    }

                }

            </div>
        </div>
    </div>

    <div class="shadow container mt-2 rounded pt-2 ">
        <div class="row row-cols-2 responsiveExtraSmall">
            <div>
                <h5 class="d-flex">Comición Ganada</h5>
            </div>
            <div class="row row-cols-2 d-inline-flex">
                <div class="d-flex col-2 mt-1 ">
                    <i class="fa-sharp fa-solid fa-cash-register"></i>
                </div>
                <div class="d-flex col-10 ">
                    <p typeof="number" class="ms-2 " style="color:forestgreen">1 000 000 000 </p>
                </div>
            </div>

        </div>
    </div>
</div>