@model PropiedadesModelTablero

@{
    Layout = "_NavUsuarios";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Proyecto_administracion</title>
    <link rel="icon" type="image/png" sizes="16x16" href="~/img/imagen-logo/logo_oficial.png">

    <link rel="stylesheet" href="~/css/style_tablero_propiedades.css">
    <link rel="stylesheet" href="~/css/styleGeneral.css" />

</head>

<div class="container-fluid px-0 ">

    <!--Indicadores-->
    <div class="container-fluid indicadores_Container" style="width:fit-content;">

        <div class="row tab margin-tablinks mx-auto">
            <div class="col p-0">
                <button type="button" class="border-0 d-flex tablinks2 " onclick="vertablas(event, 'Tabla2')"
                        id="defaultOpen2">
                    <div class="caja-a-b mb-2 mb-xl-0 ">
                        <div class="card-main col-12 mt-2 d-flex align-items-center">
                            <div class="col-6 mt-3 d-flex justify-content-center">


                                <div class=" d-flex justify-content-center">
                                    <p class="size-letter-cards-first ms-2 my-auto">No publicadas</p>
                                </div>
                            </div>
                            <div class="col-6 d-flex justify-content-center">
                                <div class="text-cards d-flex mt-3  indicator-nopublicadas">
                                    <h6 class="mx-auto text-white my-auto size-number-indicator">10</h6>
                                </div>
                            </div>



                        </div>

                    </div>
                </button>
            </div>
            <div class="col p-0">
                <button type="button" class="border-0 d-flex  tablinks2"
                        onclick="vertablas(event, 'Tablapubli')">
                    <div class="caja-a-b mb-xl-0">
                        <div class="card-main col-12 d-flex align-items-center mt-2">
                            <div class="col-6 mt-3 justify-content-center d-flex">


                                <div class=" d-flex justify-content-center ">
                                    <p class="size-letter-cards-first ms-2 my-auto">Publicadas</p>
                                </div>
                            </div>
                            <div class="col-6  d-flex justify-content-center">
                                <div class="text-cards d-flex mt-3  indicator-publicadas">
                                    <h6 class="mx-auto text-white my-auto size-number-indicator">1,000</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </button>
            </div>
            <div class="col p-0">
                <button type="button" class="border-0 d-flex tablinks2"
                        onclick="vertablas(event, 'TablaprocesoEntrega')">
                    <div class="caja-a-b mx-auto mb-2 mb-xl-0">
                        <div class="card-main col-12 d-flex align-items-center">
                            <div class="col-6 mt-3 justify-content-center d-flex ">


                                <div class=" d-flex justify-content-center">
                                    <p class="size-letter-cards-first ms-2 my-auto">En proceso de entrega</p>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center col-6">
                                <div class="text-cards d-flex mt-4 indicator-enproceso">
                                    <h6 class="mx-auto text-white my-auto size-number-indicator">30</h6>
                                </div>
                            </div>



                        </div>
                    </div>
                </button>
            </div>
            <div class="col p-0">
                <button type="button" class="border-0 d-flex tablinks2"
                        onclick="vertablas(event, 'Tabla6')">
                    <div class="caja-a-b mx-auto mb-2 mb-xl-0">
                        <div class="card-main col-12 d-flex align-items-center">
                            <div class="col-6 mt-3 justify-content-center d-flex ">



                                <div class=" d-flex d-block justify-content-center">
                                    <p class="size-letter-cards-first ms-2 mt-4">Cerradas</p>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center col-6">
                                <div class="text-cards d-flex mt-3 indicator-cerradas">
                                    <h6 class="mx-auto text-white my-auto size-number-indicator">5000</h6>
                                </div>
                            </div>

                        </div>
                    </div>
                </button>
            </div>
        </div>

    </div>


    <!--Aqui empieza la barra de busqueda-->
   
    <form class="container-fluid mt-3">

        <div class="row row-cols-lg-2 row-cols-sm-1 mt-1 responsiveExtraSmall">
            <!--barra de busqueda y boton-->
            <div class="d-flex flex-item col col-sm-12">
                <input class="form-control inputs size-search d-inline-flex " type="search" placeholder="Buscar"
                       aria-label="Search" style="font-size:0.8rem">

                <button class="btn-s  text-light d-inline-flex justify-content-center align-items-center
                           size-icons-t-b ms-lg-1" data-toggle="tooltip" data-placement="bottom" title="Buscar">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>

            <div class="d-flex flex-item d-inline-flex col">
                <!--select filtro-->
                <div class="d-flex col">

                    <select class="form-select inputFiltros" aria-label="Default select example"
                            style="font-size:0.8rem">
                        <option disabled selected>Filtros</option>
                        <option value="1">Zonas</option>
                        <option value="2">Antigüedad</option>ss
                    </select>
                    <!--boton de descarga en excel-->
                    <button id="tablaExcel" class="btn-s ms-1" data-toggle="tooltip" data-placement="bottom"
                            title="Descargar datos a excel" onclick="exportTableToExcel('tablaExcel')">

                        <i class="fa-solid  fa-file-excel"></i>
                    </button>

                </div>
                <!--boton de nueva propiedad-->
                <div class="d-flex col">
                    <a class="btn-nueva-prop text-center " asp-controller="Propiedades"
                       asp-action="NuevaPropiedad" data-toggle="tooltip" data-placement="bottom"
                       title="Añadir nueva propiedad">
                        <i class="fa-solid fa-plus" style="margin-top:11px"></i>
                    </a>
                </div>
            </div>

        </div>

    </form>



    <!--Tablero y tarjetas para  no publicadas-->
    <div class="container-fluid  tabcontent2" id="Tabla2">
        <div class="container-fluid px-0 mx-auto row">
            <div class="col">

                <!--Botones de visualización para ver las tarjetas o la tabla-->
                <div class="tab rounded">
                    <button class="tablinks  " onclick="openCity(event, 'Tarjetas')" id="defaultOpen"
                            data-toggle="tooltip" data-placement="right"
                            title="Vista tarjeta">
                        <svg class="size-icons-table" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                             xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M10 6H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V8a2 2 0 00-2-2h-5m-4 0V5a2 2 0 114 0v1m-4 0a2 2 0 104 0m-5 8a2 2 0 100-4 2 2 0 000 4zm0 0c1.306 0 2.417.835 2.83 2M9 14a3.001 3.001 0 00-2.83 2M15 11h3m-3 4h2">
                            </path>
                        </svg>
                    </button>


                    <button class="tablinks" onclick="openCity(event, 'Tabla')"
                            data-toggle="tooltip" data-placement="right"
                            title="Vista tabla">
                        <i class="fa-solid fa-table mt-1" style="font-size:20px; color: rgb(71, 71, 71);"></i>
                    </button>


                </div>


                <!--Tarjetas de propiedades No publicadas-->
                <div id="Tarjetas" class="tabcontent">

                    <div class="container-fluid row px-0">
                        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 responsiveExtraSmall">

                            @{
                                var countA1 = 0;
                                var idCarusel1 = "";
                                var count1 = 0;
                                var activa1 = "";
                                foreach (var NP in Model.PropiedadesNL)
                                {

                                    countA1 = countA1 + 1;
                                    idCarusel1 = "carouselExampleFade" + countA1;
                                    count1 = 0;

                                    <div class="col mx-auto mb-2">
                                        <div class="caja-a-propie mb-2  mx-auto shadow position-relative  ">


                                            <div class="col row d-flex ms-1 responsiveExtraSmall">
                                                <div class="col-5 mt-4 ms-1 ">
                                                    <div id="@idCarusel1" class="carousel slide carousel-fade "
                                                     data-bs-ride="carousel">
                                                        <div class="carousel-inner">

                                                            @foreach (var IPN in Model.PropNLImagenBase64)
                                                            {
                                                                count1 = count1 + 1;

                                                                if (count1 == 1)
                                                                {
                                                                    activa1 = "carousel-item active";
                                                                }
                                                                else
                                                                {

                                                                    activa1 = "carousel-item";
                                                                }

                                                                if (IPN.IDpropiedadBase64 == NP.IDPropiedad)
                                                                {
                                                                    <div class=" @activa1 image-contain carousel-adaptar" style="background-image:url(@IPN.txtBase64)"></div>
                                                                }

                                                                if (IPN.IDpropiedadBase64 != NP.IDPropiedad)
                                                                {
                                                                    count1 = 0;
                                                                }
                                                            }
                                                        </div>
                                                        <button class="carousel-control-prev" type="button"
                                                            data-bs-target="#@idCarusel1" data-bs-slide="prev">
                                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                            <span class="visually-hidden">Previous</span>
                                                        </button>
                                                        <button class="carousel-control-next" type="button"
                                                            data-bs-target="#@idCarusel1" data-bs-slide="next">
                                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                            <span class="visually-hidden">Next</span>
                                                        </button>
                                                    </div>
                                                </div>
                                                @{
                                                    var classAbrev = "";
                                                    switch (@NP.Abrev)
                                                    {
                                                        case "Depto":
                                                            classAbrev = "title-cards-mp-depto";
                                                            break;
                                                        case "Bodega":
                                                            classAbrev = "title-cards-mp-depto";
                                                            break;
                                                        case "Casa":
                                                            classAbrev = "title-cards-mp-casa";
                                                            break;
                                                        case "Edif":
                                                            classAbrev = "title-cards-mp-edificio";
                                                            break;
                                                        case "Huerta":
                                                            classAbrev = "title-cards-mp-depto";
                                                            break;
                                                        case "Local":
                                                            classAbrev = "title-cards-mp-local";
                                                            break;
                                                        case "Nave":
                                                            classAbrev = "title-cards-mp-nave";
                                                            break;
                                                        case "Ofic":
                                                            classAbrev = "title-cards-mp-oficina";
                                                            break;
                                                        case "Quinta":
                                                            classAbrev = "title-cards-mp-depto";
                                                            break;
                                                        case "Rancho":
                                                            classAbrev = "title-cards-mp-depto";
                                                            break;
                                                        case "Terreno":
                                                            classAbrev = "title-cards-mp-terreno";
                                                            break;
                                                        case "Villa":
                                                            classAbrev = "title-cards-mp-depto";
                                                            break;
                                                        case "Hosp.":
                                                            classAbrev = "title-cards-mp-depto";
                                                            break;
                                                        case "Esc.":
                                                            classAbrev = "title-cards-mp-depto";
                                                            break;
                                                        default:
                                                            classAbrev = "title-cards-mp-depto";
                                                            break;
                                                    }
                                                }

                                                <div class="col-6 text-cards ms-2 mt-2 position-relative bloqueTextCard ">
                                                    <div class="d-inline-flex justify-content-between etiquetaTipoProceso @classAbrev  ">
                                                        <h6 class=" size-mp-cards my-auto ms-1"> @NP.Abrev</h6>

                                                        <h6 class=" size-mp-cards me-1 my-auto">
                                                            <i class="fa-solid fa-maximize size-mp-cards  ms-3 "></i> @NP.Superficie m2
                                                        </h6>

                                                    </div>
                                                    <div class="mt-4 ">
                                                        <h6 class="fw-bold ms-2 text-orange ">
                                                            1 @{
                                                                double precio = Convert.ToDouble(@NP.Precio);
                                                                var precioTotalP = precio.ToString("N0", new System.Globalization.CultureInfo("en-US"));
                                                            }

                                                            @precioTotalP @NP.ISO
                                                        </h6>
                                                    </div>

                                                    <div class="size-mp-name-main-house fw-bold ms-2  ">
                                                        <h6 class="size-mp-name-main-house fw-bold">@NP.Titulo</h6>
                                                    </div>

                                                    <div class="size-mp-name-house fw-bold ms-2 "><h6 class="size-mp-name-house ">@NP.Direccion</h6></div>

                                                </div>

                                            </div>

                                            <div class="row row-cols-4 d-inline-flex col align-items-center">

                                                <div class="col-1 ms-3 icon-warning">

                                                    <a class="icon-style-warning mx-auto " asp-controller="Administracion"
                                               asp-action="DetallesPropiedadNoPublicada">
                                                        <i class="fa-solid fa-triangle-exclamation size-icon-warning"></i>
                                                    </a>

                                                </div>

                                                <div class="col-8 row d-flex ">
                                                    <h6 class="col-12 fw-bold size-text-publi ">Fecha de publicación:</h6>
                                                    <h6 class="col-12 ms-2  size-text-publi ">@NP.FPublicacion</h6>
                                                </div>



                                                    <div class="col-1 d-flex ">
                                                    <a class="style-vermas">
                                                        <i class="fa-solid fa-pen-to-square"></i>
                                                    </a>
                                                    </div>
                                                
                                                    <div class="col-1 d-flex ">
                                                    <a class="pa-vermas style-vermas mr-3" asp-controller="Propiedades"
                                               asp-action="DetallesPropiedadNP" asp-route-PROPIEDADID=@NP.IDPropiedadG>
                                                        <ion-icon name="ellipsis-horizontal-circle-outline"></ion-icon>
                                                    </a>

                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                }

                            }

                        </div>


                        <footer class="d-flex row justify-content-center">
                            <nav aria-label="" class="mt-4  w-50 ">
                                <ul class="pagination d-flex justify-content-lg-center justify-content-center">
                                    <li class="page-item disabled">
                                        <a class="page-link me-1" href="#" tabindex="-1" aria-disabled="true">
                                            <i class="fa-solid fa-chevron-left"></i>
                                        </a>
                                    </li>
                                    <li class="page-item active me-1" aria-current="page">
                                        <a class="page-link" href="#">1</a>
                                    </li>
                                    <li class="page-item me-1">
                                        <a class="page-link" href="#">2</a>
                                    </li>
                                    <li class="page-item me-1"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">
                                            <i class="fa-solid fa-chevron-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </footer>

                    </div>

                </div>

                <!--Tabla de propiedades No publicadas-->
                <div id="Tabla" class="tabcontent  bg-light mt-3">
                    <div class="table-wrapper-scroll-y my-custom-scrollbar table-responsive mt-2 bg-light rounded ">
                        <table class="table tabla-hover ">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col" class="text-center">Nombre</th>
                                <th scope="col" class="text-center">Dirección</th>
                                <th scope="col" class="text-center">Fecha de publicación</th>
                                <th scope="col" class="text-center">Estatus</th>
                                <th scope="col" class="text-center">Acciones</th>
                            </tr>
                            <tbody>
                                @foreach (var NPT in Model.PropiedadesNL)
                                {
                                    <tr class="tabla-hover">
                                        <td scope="row">@NPT.IDPropiedadG</td>
                                        <td class="fw-lighter text-center limitado"> @NPT.Titulo </td>
                                        <td class="fw-light text-center limitado">@NPT.Direccion</td>
                                        <td class="fw-light text-center">@NPT.FPublicacion</td>
                                        <td class="fw-light text-center"><h6 class="backgr-estatus-aprobado">Aprobado</h6></td>
                                        <td>
                                            <div class="d-flex justify-content-between">
                                                <a class="style-vermas2" asp-controller="Propiedades" asp-action="DetallesPropiedadNP"><ion-icon name="ellipsis-horizontal-circle" class="size-mp-icons-vermas mt-2 position-icon"></ion-icon></a>
                                                <button class="border-0 bg-transparent"><i class="fa-solid fa-pen-to-square style-vermas2"></i></button>
                                                <button class="border-0 bg-transparent"><i class="fa-solid fa-trash-can style-vermas2"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            </thead>
                        </table>
                    </div>
                    <footer class="d-flex row justify-content-center">
                        <nav aria-label="" class="mt-4  w-50 ">
                            <ul class="pagination d-flex justify-content-lg-center justify-content-center">
                                <li class="page-item disabled">
                                    <a class="page-link me-1" href="#" tabindex="-1" aria-disabled="true">
                                        <i class="fa-solid fa-chevron-left"></i>
                                    </a>
                                </li>
                                <li class="page-item active me-1" aria-current="page">
                                    <a class="page-link" href="#">1</a>
                                </li>
                                <li class="page-item me-1">
                                    <a class="page-link" href="#">2</a>
                                </li>
                                <li class="page-item me-1"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">
                                        <i class="fa-solid fa-chevron-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </footer>
                </div>



            </div>
        </div>
    </div>


    <!--Tablero y tarjetas para publicadas-->
    <div class="container-fluid px-0 tabcontent2" id="Tablapubli">
        <div class="container-fluid px-0 mx-auto row">
            <div class="col px-0">
                <!--Botones de visualización para ver las tarjetas o la tabla-->
                <div class="tab  rounded">
                    <button class="tablinks4" onclick="vercontenedor2(event, 'Tarjetaspubli')" id="defaultOpen4"><svg class="size-icons-table" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V8a2 2 0 00-2-2h-5m-4 0V5a2 2 0 114 0v1m-4 0a2 2 0 104 0m-5 8a2 2 0 100-4 2 2 0 000 4zm0 0c1.306 0 2.417.835 2.83 2M9 14a3.001 3.001 0 00-2.83 2M15 11h3m-3 4h2"></path></svg></button>
                    <button class="tablinks4" onclick="vercontenedor2(event, 'Tablapublicadas')"><i class="fa-solid fa-table mt-1" style="font-size:20px; color: rgb(71, 71, 71);"></i></button>
                </div>

                <!--tarjetas de propiedades publicadas-->
                <div id="Tarjetaspubli" class="tabcontent4">

                    <div class="container-fluid row px-0">
                        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 m-auto responsiveExtraSmall">
                            @{
                                var countA = 0;
                                var idCarusel = "";
                                var count = 0;
                                var activa = "";


                                foreach (var PP in Model.PropiedadesL)
                                {
                                    countA = countA + 1;
                                    idCarusel = "carouselExampleFadeP" + countA;
                                    count = 0;

                                    <div class="col mx-auto mb-2 ">
                                        <div class="caja-a-propie-publi mb-2  mx-auto shadow position-relative">

                                            <div class="row indicators d-flex justify-content-center mt-2">
                                            </div>

                                            <div class="row card-main col-12 d-flex  ms-1 ">
                                                <!--carrusel de fotos-->
                                                <div class="col-5 mt-4 ms-1 ">
                                                    <div id="@idCarusel" class="carousel slide carousel-fade"
                                                     data-bs-ride="carousel-1">
                                                        <div class="carousel-inner">
                                                            @foreach (var IPP in Model.PropLImagenBase64)
                                                            {
                                                                count = count + 1;

                                                                if (count == 1)
                                                                {
                                                                    activa = "carousel-item active";
                                                                }
                                                                else
                                                                {

                                                                    activa = "carousel-item";
                                                                }

                                                                if (IPP.IDpropiedadBase64 == PP.IDPropiedad)
                                                                {
                                                                    <div class=" @activa image-contain carousel-adaptar" style="background-image:url(@IPP.txtBase64)"></div>
                                                                    <label>@count</label>
                                                                }

                                                                if (IPP.IDpropiedadBase64 != PP.IDPropiedad)
                                                                {
                                                                    count = 0;
                                                                }
                                                            }

                                                        </div>
                                                        <button class="carousel-control-prev" type="button"
                                                            data-bs-target="#@idCarusel" data-bs-slide="prev">
                                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                            <span class="visually-hidden">Previous</span>
                                                        </button>
                                                        <button class="carousel-control-next" type="button"
                                                            data-bs-target="#@idCarusel" data-bs-slide="next">
                                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                            <span class="visually-hidden">Next</span>
                                                        </button>
                                                    </div>

                                                </div>

                                                @{
                                                    var classAbrev = "";
                                                    switch (@PP.Abrev)
                                                    {
                                                        case "Depto":
                                                            classAbrev = "title-cards-mp-depto";
                                                            break;
                                                        case "Bodega":
                                                            classAbrev = "title-cards-mp-depto";
                                                            break;
                                                        case "Casa":
                                                            classAbrev = "title-cards-mp-casa";
                                                            break;
                                                        case "Edif":
                                                            classAbrev = "title-cards-mp-edificio";
                                                            break;
                                                        case "Huerta":
                                                            classAbrev = "title-cards-mp-depto";
                                                            break;
                                                        case "Local":
                                                            classAbrev = "title-cards-mp-local";
                                                            break;
                                                        case "Nave":
                                                            classAbrev = "title-cards-mp-nave";
                                                            break;
                                                        case "Ofic":
                                                            classAbrev = "title-cards-mp-oficina";
                                                            break;
                                                        case "Quinta":
                                                            classAbrev = "title-cards-mp-depto";
                                                            break;
                                                        case "Rancho":
                                                            classAbrev = "title-cards-mp-depto";
                                                            break;
                                                        case "Terreno":
                                                            classAbrev = "title-cards-mp-terreno";
                                                            break;
                                                        case "Villa":
                                                            classAbrev = "title-cards-mp-depto";
                                                            break;
                                                        case "Hosp.":
                                                            classAbrev = "title-cards-mp-depto";
                                                            break;
                                                        case "Esc.":
                                                            classAbrev = "title-cards-mp-depto";
                                                            break;
                                                        default:
                                                            classAbrev = "title-cards-mp-depto";
                                                            break;
                                                    }
                                                }


                                                <div class="col-6 text-cards ms-2 mt-2 position-relative bloqueTextCard">
                                                    <!--etiqueta-->
                                                    <div class="d-inline-flex justify-content-between etiquetaTipoPublicadas @classAbrev">
                                                        <h6 class=" size-mp-cards my-auto ms-1"> @PP.Abrev</h6>

                                                        <h6 class=" size-mp-cards my-auto me-1">
                                                            <i class="fa-solid fa-maximize size-mp-cards  ms-3 "></i> @PP.Superficie @PP.UM
                                                        </h6>

                                                    </div>
                                                    <!--precio-->
                                                    <div class="mt-4">
                                                        <h6 class="fw-bold ms-2 text-orange ">
                                                            @{
                                                                double precio = Convert.ToDouble(@PP.Precio);
                                                                var precioTotalP = precio.ToString("N0", new System.Globalization.CultureInfo("en-US"));
                                                            }

                                                            @precioTotalP @PP.ISO
                                                        </h6>
                                                    </div>
                                                    <!--descripcion-->
                                                    <div class="size-mp-name-main-house ms-2">
                                                        @{
                                                            var descripcion = (PP.Descripcion).Substring(0, 100);
                                                        }
                                                        <h6 class="size-mp-name-main-house fw-bold  ">
                                                            @descripcion...
                                                        </h6>
                                                    </div>
                                                    <!--direccion-->
                                                    <div class="size-mp-name-house ms-2">
                                                        <h6 class="size-mp-name-house  mb-1">@PP.Direccion </h6>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="row row-cols-2 align-items-center justify-content-center">

                                                <div class="col-8 mt-3 position-relative align-items-center d-flex justify-content-center pos-t-publicada flex-column">
                                                    @{
                                                        // Obtener la fecha actual
                                                        var fechaActual = DateTime.Now;
                                                        // Definir la fecha de publicación (puede ser una variable dinámica en tu aplicación)
                                                        var fechaPublicacion = DateTime.Parse(@PP.FPublicacion);
                                                        // Calcular la diferencia en días
                                                        var diasDesdePublicacion = (fechaActual - fechaPublicacion).Days;
                                                    }
                                                    <div class="d-inline-flex mx-auto">
                                                        <h6 class=" ms-2 my-auto fw-bold size-text-publi ">Tiempo publicada</h6>
                                                        <h6 class=" ms-2 my-auto size-text-publi">@diasDesdePublicacion días</h6>
                                                    </div>

                                                    <div class="mt-2 row row-cols-2d-inline-flex justify-content-center size-mp-name-main-house
                                                                        pos-indicadores-vv " style="margin-left:inherit;">
                                                        <div class="col side-2-header d-flex">
                                                            <i class="fa-solid fa-eye ms-1 me-1 text-orange size-icons-indicators "></i>
                                                            <h6 for="" class="ms-1 me-4 size-text-indicators">@PP.Vistas Vistas </h6>
                                                        </div>
                                                        <div class="col side-2-header d-flex">
                                                            <i class="fa-solid fa-address-book ms-1 me-1 text-orange size-icons-indicators"></i>
                                                            <h6 for="" class="ms-1 me-1 size-text-indicators">@PP.Visitas Visitas</h6>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="col-1 d-flex ">
                                                    <a class="style-vermas">
                                                        <i class="fa-solid fa-pen-to-square"></i>
                                                    </a>
                                                </div>
                                                <div class="col-1 d-flex" >
                                                 @* Ver mas seccion de Detalles de propiedad Publiacada *@
                                                

                                                    <a class=" pa-vermas-publi style-vermas" asp-controller="Propiedades" 
                                                    asp-action="DetallesPropiedad" asp-route-PROPIEDADID=@PP.IDPropiedadG
                                               style="margin: -31px 0 0 0;">
                                                        <ion-icon name="ellipsis-horizontal-circle" class="size-mp-icons-vermas position-icon "></ion-icon>
                                                    </a>
                                                    </div>

                                            </div>

                                        </div>
                                    </div>
                                }
                            }


                        </div>

                        <footer class="d-flex row justify-content-center">
                            <nav aria-label="" class="mt-4  w-50 ">
                                <ul class="pagination d-flex justify-content-lg-center justify-content-center">
                                    <li class="page-item disabled">
                                        <a class="page-link me-1" href="#" tabindex="-1" aria-disabled="true">
                                            <i class="fa-solid fa-chevron-left"></i>
                                        </a>
                                    </li>
                                    <li class="page-item active me-1" aria-current="page">
                                        <a class="page-link" href="#">1</a>
                                    </li>
                                    <li class="page-item me-1">
                                        <a class="page-link" href="#">2</a>
                                    </li>
                                    <li class="page-item me-1"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">
                                            <i class="fa-solid fa-chevron-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </footer>

                    </div> 

                </div>

                <!--tabla de propiedades publicadas-->
                <div id="Tablapublicadas" class="tabcontent4 bg-light mt-3">
                    <div class="table-wrapper-scroll-y my-custom-scrollbar table-responsive mt-2 bg-light rounded">
                        <table class="table table-hover ">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col" class="text-center">Nombre</th>
                                <th scope="col" class="text-center">Dirección</th>
                                <th scope="col" class="text-center">Tiempo publicada</th>
                                <th scope="col" class="text-center"><i class="fa-solid fa-eye me-1"></i>Vistas</th>
                                <th scope="col" class="text-center"><i class="fa-solid fa-address-book me-1"></i>Visitas</td>
                                <th scope="col" class="text-center">Acciones</th>
                            </tr>
                            <tbody>
                                @foreach (var PPT in Model.PropiedadesL)
                                {
                                    <tr class="tabla-hover">
                                        <td scope="row">@PPT.IDPropiedadG</td>
                                        <td class="fw-lighter text-center">@PPT.Titulo</td>
                                        <td class="fw-light text-center">@PPT.Direccion</td>
                                        <td class="fw-light text-center">34 días</td>
                                        <td class="fw-light text-center">@PPT.Vistas</td>
                                        <td class="fw-light text-center">@PPT.Visitas</td>
                                        <td>
                                            <div class=" d-flex justify-content-between">
                                                <a class="style-vermas2" asp-controller="Propiedades" asp-action="DetallesPropiedad"><ion-icon name="ellipsis-horizontal-circle" class="size-mp-icons-vermas mt-2 position-icon"></ion-icon></a>
                                                <button class="border-0 bg-transparent"><i class="fa-solid fa-pen-to-square style-vermas2"></i></button>
                                                <button class="border-0 bg-transparent"><i class="fa-solid fa-trash-can style-vermas2"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            </thead>
                        </table>
                    </div>
                    <footer class="d-flex row justify-content-center">
                        <nav aria-label="" class="mt-4  w-50 ">
                            <ul class="pagination d-flex justify-content-lg-center justify-content-center">
                                <li class="page-item disabled">
                                    <a class="page-link me-1" href="#" tabindex="-1" aria-disabled="true">
                                        <i class="fa-solid fa-chevron-left"></i>
                                    </a>
                                </li>
                                <li class="page-item active me-1" aria-current="page">
                                    <a class="page-link" href="#">1</a>
                                </li>
                                <li class="page-item me-1">
                                    <a class="page-link" href="#">2</a>
                                </li>
                                <li class="page-item me-1"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">
                                        <i class="fa-solid fa-chevron-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </footer>

                </div>

            </div>
        </div>
    </div>

    <!--Tablero y tarjetas para proceso de entrega-->
    <div class="container-fluid px-0 tabcontent2" id="TablaprocesoEntrega">
        <div class="container-fluid px-0 mx-auto row">
            <div class="col px-0">
                <!--Botones de visualización para ver las tarjetas o la tabla-->
                <div class="tab  rounded mb-1">
                    <button class="tablinks5" onclick="vercontenedor3(event, 'Tarjetasproceso')" id="defaultOpen5"><svg class="size-icons-table" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V8a2 2 0 00-2-2h-5m-4 0V5a2 2 0 114 0v1m-4 0a2 2 0 104 0m-5 8a2 2 0 100-4 2 2 0 000 4zm0 0c1.306 0 2.417.835 2.83 2M9 14a3.001 3.001 0 00-2.83 2M15 11h3m-3 4h2"></path></svg></button>
                    <button class="tablinks5" onclick="vercontenedor3(event, 'Tablaproceso')"><i class="fa-solid fa-table mt-1" style="font-size:20px; color: rgb(71, 71, 71);"></i></button>
                </div>

                <!--Aqui termina los botones de visualización-->
                <div id="Tarjetasproceso" class="tabcontent5 ">

                    <div class="container-fluid  row px-0">
                        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 m-auto responsiveExtraSmall">
                            @{
                                var countAV = 0;
                                var idCaruselV = "";
                                var countV = 0;
                                var activaV = "";

                                foreach (var PV in Model.PropiedadesPL)
                                {
                                    countAV = countAV + 1;
                                    idCaruselV = "carouselExampleFadeV" + countAV;
                                    countV = 0;
                                    <div class="col mx-auto mb-2">
                                        <div class="row caja-a-propie row mb-2 mx-auto shadow position-relative">
                                            
                                        <div class="card-main col-12  d-flex  ms-1 responsiveExtraSmall">
                                                <div class="col-5 mt-4 ms-1 ">
                                                    <div id="@idCaruselV" class="carousel slide carousel-fade"
                                                     data-bs-ride="carousel">
                                                        <div class="carousel-inner">
                                                            @foreach (var IPV in Model.PropPLImagenBase64)
                                                            {
                                                                countV = countV + 1;

                                                                if (countV == 1)
                                                                {
                                                                    activaV = "carousel-item active";
                                                                }
                                                                else
                                                                {

                                                                    activaV = "carousel-item";
                                                                }

                                                                if (IPV.IDpropiedadBase64 == PV.IDPropiedad)
                                                                {
                                                                    <div class=" @activaV image-contain carousel-adaptar" style="background-image:url(@IPV.txtBase64)"></div>
                                                                    <label>@count</label>
                                                                }

                                                                if (IPV.IDpropiedadBase64 != PV.IDPropiedad)
                                                                {
                                                                    count = 0;
                                                                }
                                                            }

                                                        </div>
                                                        <button class="carousel-control-prev" type="button"
                                                            data-bs-target="#@idCaruselV" data-bs-slide="prev">
                                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                            <span class="visually-hidden">Previous</span>
                                                        </button>
                                                        <button class="carousel-control-next" type="button"
                                                            data-bs-target="#@idCaruselV" data-bs-slide="next">
                                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                            <span class="visually-hidden">Next</span>
                                                        </button>
                                                    </div>



                                                </div>

                                                @{
                                                    var classAbrev = "";
                                                    switch (@PV.Abrev)
                                                    {
                                                        case "Depto":
                                                            classAbrev = "title-cards-mp-depto";
                                                            break;
                                                        case "Bodega":
                                                            classAbrev = "title-cards-mp-depto";
                                                            break;
                                                        case "Casa":
                                                            classAbrev = "title-cards-mp-casa";
                                                            break;
                                                        case "Edif":
                                                            classAbrev = "title-cards-mp-edificio";
                                                            break;
                                                        case "Huerta":
                                                            classAbrev = "title-cards-mp-depto";
                                                            break;
                                                        case "Local":
                                                            classAbrev = "title-cards-mp-local";
                                                            break;
                                                        case "Nave":
                                                            classAbrev = "title-cards-mp-nave";
                                                            break;
                                                        case "Ofic":
                                                            classAbrev = "title-cards-mp-oficina";
                                                            break;
                                                        case "Quinta":
                                                            classAbrev = "title-cards-mp-depto";
                                                            break;
                                                        case "Rancho":
                                                            classAbrev = "title-cards-mp-depto";
                                                            break;
                                                        case "Terreno":
                                                            classAbrev = "title-cards-mp-terreno";
                                                            break;
                                                        case "Villa":
                                                            classAbrev = "title-cards-mp-depto";
                                                            break;
                                                        case "Hosp.":
                                                            classAbrev = "title-cards-mp-depto";
                                                            break;
                                                        case "Esc.":
                                                            classAbrev = "title-cards-mp-depto";
                                                            break;
                                                        default:
                                                            classAbrev = "title-cards-mp-depto";
                                                            break;
                                                    }
                                                }

                                                <div class="col-6 text-cards ms-2 mt-2 position-relative">
                                                    <div class="d-inline-flex justify-content-between @classAbrev">
                                                        <h6 class=" size-mp-cards my-auto ms-1"> @PV.Abrev</h6>

                                                        <h6 class=" size-mp-cards my-auto me-1">
                                                            <i class="fa-solid fa-maximize size-mp-cards  ms-3 "></i> @PV.Superficie @PV.UM
                                                        </h6>

                                                    </div>
                                                    <div class="mt-4">
                                                        <h6 class="fw-bold ms-2 text-orange ">
                                                            @{
                                                                double precio = Convert.ToDouble(@PV.Precio);
                                                                var precioTotalP = precio.ToString("N0", new System.Globalization.CultureInfo("en-US"));
                                                            }

                                                            @precioTotalP @PV.ISO
                                                        </h6>
                                                    </div>
                                                    <div class="size-mp-name-main-house ms-2">
                                                        @{
                                                            var descripcion = (PV.Descripcion).Substring(0, 100);
                                                        }
                                                        <h6 class="size-mp-name-main-house fw-bold  ">
                                                            @descripcion...
                                                        </h6>
                                                    </div>
                                                    <div class="size-mp-name-house ms-2"><h6 class="size-mp-name-house  mb-1">@PV.Direccion </h6></div>
                                                </div>

                                            </div>
                                        <div class="row row-col-3 d-inline-flex">
                                        
                                            <div class="row d-flex d-inline-flex backgr-etapa-negociacion  pos-etapa">
                                                <h6 class=" ms-1 my-auto fw-bold size-text-etapa">Etapa</h6>
                                                <h6 class=" ms-2 my-auto size-text-etapa me-1">Negociación</h6>
                                            </div>
                                            <div class="row mb-3">
                                            
                                            <div class="col-10 d-flex   pos-tipo-opera">
                                                <h6 class=" ms-1 my-auto fw-bold size-text-publi">Tipo de operación</h6>
                                                <h6 class=" ms-2 my-auto size-text-publi">Venta</h6>
                                            </div>

                                            <div class="col d-flex ">
                                        
                                            <a class=" pa-vermas style-vermas" asp-controller="Propiedades" 
                                            asp-action="DetallesPropiedadPP" asp-route-PROPIEDADID=@PV.IDPropiedadG>
                                                <ion-icon name="ellipsis-horizontal-circle" class="size-mp-icons-vermas position-icon"></ion-icon>
                                            </a>

                                        </div>
                                            </div>

                                        </div>
                                        
                                        </div>
                                    </div>
                                }
                            }

                        </div>
                       
                        <footer class="d-flex row justify-content-center">
                            <nav aria-label="" class="mt-4  w-50 ">
                                <ul class="pagination d-flex justify-content-lg-center justify-content-center">
                                    <li class="page-item disabled">
                                        <a class="page-link me-1" href="#" tabindex="-1" aria-disabled="true">
                                            <i class="fa-solid fa-chevron-left"></i>
                                        </a>
                                    </li>
                                    <li class="page-item active me-1" aria-current="page">
                                        <a class="page-link" href="#">1</a>
                                    </li>
                                    <li class="page-item me-1">
                                        <a class="page-link" href="#">2</a>
                                    </li>
                                    <li class="page-item me-1"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">
                                            <i class="fa-solid fa-chevron-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </footer>

                    </div>

                </div>

                <div id="Tablaproceso" class="tabcontent5 bg-light mt-3">
                    <div class="table-wrapper-scroll-y my-custom-scrollbar table-responsive mt-2 bg-light rounded">
                        <table class="table table-hover ">
                            <thead>
                                <tr>
                                    <th scope="col" class="text-center">#</th>
                                    <th scope="col" class="text-center">Nombre</th>
                                    <th scope="col" class="text-center">Dirección</th>
                                    <th scope="col" class="text-center">Tipo de operación</th>
                                    <th scope="col" class="text-center">Etapa</th>
                                    <th scope="col" class="text-center">Acciones</th>

                                </tr>
                            <tbody>
                                    @foreach (var PVT in Model.PropiedadesPL)
                                    {
                                    <tr class="tabla-hover">
                                        <td scope="row">1</td>
                                        <td class="fw-lighter text-center">@PVT.Titulo</td>
                                        <td class="fw-light text-center">@PVT.Direccion</td>
                                        <td class="fw-light text-center">Venta</td>
                                        <td class="fw-light text-center"><h6 class="backgr-etapa-entrega-t">Entrega</h6></td>
                                        <td>
                                            <div class=" d-flex justify-content-between">
                                                <a class="style-vermas2" asp-controller="Propiedades" asp-action="DetallesPropiedadPP"><ion-icon name="ellipsis-horizontal-circle" class="size-mp-icons-vermas mt-2 position-icon"></ion-icon></a>
                                                <button class="border-0 bg-transparent"><i class="fa-solid fa-pen-to-square style-vermas2"></i></button>
                                                <button class="border-0 bg-transparent"><i class="fa-solid fa-trash-can style-vermas2"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                    }
                            </tbody>
                            </thead>
                        </table>
                    </div>
                    <footer class="d-flex row justify-content-center">
                        <nav aria-label="" class="mt-4  w-50 ">
                            <ul class="pagination d-flex justify-content-lg-center justify-content-center">
                                <li class="page-item disabled">
                                    <a class="page-link me-1" href="#" tabindex="-1" aria-disabled="true">
                                        <i class="fa-solid fa-chevron-left"></i>
                                    </a>
                                </li>
                                <li class="page-item active me-1" aria-current="page">
                                    <a class="page-link" href="#">1</a>
                                </li>
                                <li class="page-item me-1">
                                    <a class="page-link" href="#">2</a>
                                </li>
                                <li class="page-item me-1"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">
                                        <i class="fa-solid fa-chevron-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </footer>
                </div>


            </div>
        </div>
    </div>

    <!--Tablas para CERRADAS-->
    <div class="container-fluid tabcontent2 " id="Tabla6">
        <div class="row">
            <div class="col">
                <!--Botones de visualización para ver las tarjetas o la tabla-->
                <div class="tab  rounded">
                    <button class="tablinks3 " onclick="vercontenedor(event, 'Tabla4')" id="defaultOpen3">Vendidas</button>
                    <button class="tablinks3 " onclick="vercontenedor(event, 'Tabla5')">Rentadas</button>
                </div>


                <!--Aqui termina los botones de visualización-->

                <div id="Tabla4" class="tabcontent3 mt-3 bg-light">
                    <div class="table-wrapper-scroll-y my-custom-scrollbar table-responsive mt-2 bg-light rounded">
                        <table class="table table-hover ">
                            <thead>
                            <th scope="col">#</th>
                            <th scope="col" class="text-center">Fecha cierre</th>
                            <th scope="col" class="text-center">Propiedad</th>
                            <th scope="col" class="text-center">Precio</th>
                            <th scope="col" class="text-center">Cliente</th>
                            <th scope="col" class="text-center">Acciones</th>
                            </thead>
                            </tr>
                            <tbody>
                                @foreach (var PC in Model.PropiedadesCL)
                                {
                                    <tr class="tabla-hover">
                                        <td scope="row">1</td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                        <td class="text-center">Rogelio Funes Mori</td>
                                        <td>
                                            <div class=" d-flex justify-content-between">
                                                <a class="style-vermas2" asp-controller="Propiedades" asp-action="DetallesPropiedadNP"><ion-icon name="ellipsis-horizontal-circle" class="size-mp-icons-vermas mt-2 position-icon"></ion-icon></a>
                                                <button class="border-0 bg-transparent"><i class="fa-solid fa-pen-to-square style-vermas2"></i></button>
                                                <button class="border-0 bg-transparent"><i class="fa-solid fa-trash-can style-vermas2"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            </thead>
                        </table>
                    </div>
                    <footer class="d-flex row justify-content-center">
                        <nav aria-label="" class="mt-4  w-50 ">
                            <ul class="pagination d-flex justify-content-lg-center justify-content-center">
                                <li class="page-item disabled">
                                    <a class="page-link me-1" href="#" tabindex="-1" aria-disabled="true">
                                        <i class="fa-solid fa-chevron-left"></i>
                                    </a>
                                </li>
                                <li class="page-item active me-1" aria-current="page">
                                    <a class="page-link" href="#">1</a>
                                </li>
                                <li class="page-item me-1">
                                    <a class="page-link" href="#">2</a>
                                </li>
                                <li class="page-item me-1"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">
                                        <i class="fa-solid fa-chevron-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </footer>
                </div>

                <div id="Tabla5" class="tabcontent3 mt-3 bg-light">
                    <div class="table-wrapper-scroll-y my-custom-scrollbar table-responsive mt-2 bg-light rounded">
                        <table class="table table-hover ">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col" class="text-center">Fecha cierre</th>
                                <th scope="col" class="text-center">Propiedad</th>
                                <th scope="col" class="text-center">Precio</th>
                                <th scope="col" class="text-center">Periodo</th>
                                <th scope="col" class="text-center">Cliente</th>
                                <th scope="col" class="text-center">Acciones</th>

                            </tr>
                            <tbody>
                                @foreach (var PC in Model.PropiedadesCL)
                                {
                                    <tr class="tabla-hover">
                                        <td scope="row">1</td>
                                        <td class="text-center"></td>
                                        <td class="text-center limitado"></td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                        <td>
                                            <div class=" d-flex justify-content-between">
                                                <a class="style-vermas2" asp-controller="Propiedades" asp-action="DetallesPropiedadNP"><ion-icon name="ellipsis-horizontal-circle" class="size-mp-icons-vermas mt-2 position-icon"></ion-icon></a>
                                                <button class="border-0 bg-transparent"><i class="fa-solid fa-pen-to-square style-vermas2"></i></button>
                                                <button class="border-0 bg-transparent"><i class="fa-solid fa-trash-can style-vermas2"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>

                        </table>
                    </div>
                    <footer class="d-flex row justify-content-center">
                        <nav aria-label="" class="mt-4  w-50 ">
                            <ul class="pagination d-flex justify-content-lg-center justify-content-center">
                                <li class="page-item disabled">
                                    <a class="page-link me-1" href="#" tabindex="-1" aria-disabled="true">
                                        <i class="fa-solid fa-chevron-left"></i>
                                    </a>
                                </li>
                                <li class="page-item active me-1" aria-current="page">
                                    <a class="page-link" href="#">1</a>
                                </li>
                                <li class="page-item me-1">
                                    <a class="page-link" href="#">2</a>
                                </li>
                                <li class="page-item me-1"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">
                                        <i class="fa-solid fa-chevron-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </footer>
                </div>


            </div>
        </div>
    </div>

</div>

<script>
    function exportTableToExcel(tableID, filename = '') {
        var downloadLink;
        var dataType = 'application/vnd.ms-excel';
        var tableSelect = document.getElementById(tableID);
        var tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');

        // Specify file name
        filename = filename ? filename + '.xls' : 'excel_data.xls';

        // Create download link element
        downloadLink = document.createElement("a");

        document.body.appendChild(downloadLink);

        if (navigator.msSaveOrOpenBlob) {
            var blob = new Blob(['ufeff', tableHTML], {
                type: dataType
            });
            navigator.msSaveOrOpenBlob(blob, filename);
        } else {
            // Create a link to the file
            downloadLink.href = 'data:' + dataType + ', ' + tableHTML;

            // Setting the file name
            downloadLink.download = filename;

            //triggering the function
            downloadLink.click();
        }
    }

</script>



<script src="~/js/PropiedadesTab.js"></script>
<script src="https://code.jquery.com/jquery-3.6.1.js"
        integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
<script src="~/js/script.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.js"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>









